body {
  margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 300px;
    height: 300px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.user-form {
  max-width: 100%;
}

.user-form-button {
  width: 100%;
}
