<nz-layout class="chat-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible="false"
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <span (click)="isCollapsed = !isCollapsed">
        <img src="assets/img/logo.png" alt="logo" />
        <h1>WS Chat</h1>
      </span>
    </div>

    <ul nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="inline">
      <li nz-menu-item class="menu-title">
        <i nz-icon nzType="team"></i>
        <span>Chat Users</span>
      </li>
      <li *ngFor="let user of users" nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span (click)="selectUser(user)">{{ user.nickname }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="chat-header">
        <div nz-row nzJustify="left">
          <div nz-col nzSpan="8">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
          </div>
          <div nz-col nzSpan="8" style="text-align: center;">
            <h3>{{ user.nickname }}</h3>
          </div>
          <div
            nz-col
            nzSpan="8"
            style="text-align: right; padding-right: 10px;"
          >
            <button nz-button nzType="default" nzDanger (click)="onExit()">
              <i nz-icon nzType="logout"></i>
              Exit
            </button>
          </div>
        </div>
      </div>
    </nz-header>

    <nz-content>
      <app-chat-messages [messages]="messages"></app-chat-messages>
    </nz-content>

    <nz-footer>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <!-- <nz-form-label [nzSm]="24" nzJustify="start" nzFor="message" ali>Message</nz-form-label> -->
          <nz-form-control
            [nzSm]="24"
            [nzValidateStatus]="validateForm.controls['message']"
            nzErrorTip="Please input the message!"
          >
            <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
              <ng-template #addOnAfterTemplate class="user-select">
                To:
                <nz-select
                  formControlName="targetUserId"
                  class="user-select"
                  nzShowSearch
                  nzAllowClear
                >
                  <ng-container *ngFor="let user of users">
                    <nz-option
                      [nzValue]="user.id"
                      [nzLabel]="user.nickname"
                    ></nz-option>
                  </ng-container>
                </nz-select>
              </ng-template>
              <input
                placeholder="input your message here"
                (keydown.enter)="onPressEnter($event)"
                formControlName="message"
                nz-input
              />
            </nz-input-group>
          </nz-form-control>
          <button
            type="button"
            nz-button
            nzType="primary"
            (click)="submitForm()"
          >
            Submit
          </button>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="16">
            <label nz-checkbox formControlName="isPrivate">
              <span>Is Private?</span>
            </label>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-footer>
  </nz-layout>
</nz-layout>
