<nz-layout class="chat-layout">

  <nz-header>
    <app-chat-header [user]="user" (exitClick)="onExit()"></app-chat-header>
  </nz-header>

  <nz-layout>

    <nz-sider
      nzCollapsible="false"
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <app-user-list
        [users]="users"
        [isCollapsed]="isCollapsed"
        (selectValue)="onSelectUser($event)"
        (menuCollapse)="onCollapseMenu($event)"
      ></app-user-list>
    </nz-sider>

    <nz-content>
      <app-chat-messages [messages]="messages"></app-chat-messages>
    </nz-content>

  </nz-layout>

  <nz-footer>
    <app-send-message
      [users]="users"
      [reset$]="reset$"
      [targetUser$]="targetUser$"
      (sendMessage)="onSendMessage($event)"
    ></app-send-message>
  </nz-footer>
</nz-layout>
