<nz-layout>
  <nz-header>
    <app-chat-header
      [user]="user"
      (exitClick)="onExit()"
    ></app-chat-header>
  </nz-header>
  <nz-content>
    <h3 style="margin-top: 20px; text-align: center;">Welcome to our chat. Select a room to chat!</h3>
    <div class="inner-content">
      <div *ngFor="let room of rooms" style="">
        <app-room-card [room]="room" (click)="enterRoom(room.id)"></app-room-card>
      </div>
      <div>
      <nz-card class="card-new-room" (click)="showModalAddRoom()">
        <p class="card-new-room-icon"> <i nz-icon nzType="appstore-add" nzTheme="outline"></i></p>
        <p class="card-new-room-text" >Add New Room</p>
      </nz-card>
      </div>
    </div>
  </nz-content>
</nz-layout>
