body {
  margin: 0px;
}

.logo {
  float: left;
  min-width: 120px;

  img {
    margin-top: 10px;
    height: 44px;
    position: absolute;
  }

  span {
    font-size: 16px;
    color: #fff;
    margin-left: 50px;
  }
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-header {
  padding: 0 10px;
  position: fixed;
  width: 100%;
}

nz-layout {
  background-color: #fff;
}

.inner-content {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  padding: 24px;
  min-height: 280px;
  width: 100vw;
  height: 0;
  display: flex;
  flex-direction: row;

}

.card-new-room {
  width: 200px;
  height: 138px;
  position: relative;
  float: left;
  margin-top: 15px;
  // margin-left: 40px;
  flex-basis: 100%;
}

.card-new-room-icon {
  font-size: 50px;
  position: absolute;
  margin-left: 50px;
  margin-top: -10px;
}

.card-new-room-text {
  margin-top: 70px;
  text-align: center;
  font-weight: 600;
}
