.logo {
  float: left;

  img {
    margin-top: 10px;
    height: 44px;
    position: absolute;
  }

  span {
    font-size: 16px;
    color: #fff;
    margin-left: 50px;
  }
}

.nickname {
  text-align: center;
  h2 {
    color: #fff;
  }
}

.exit {
  text-align: right;
  padding-right: 10px;
}
